@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: hsl(270, 20%, 96%);
  height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.leftSide,
.rightSide {
  /* border: 1px solid blue; */
}

.leftSide {
  position: relative;
}

.rightSide {
  display: flex;
  justify-content: center;
  padding: 9rem;
  flex-direction: column;
}

.background {
  height: 75vh;
  width: 75%;
  position: relative;
  right: 35px;
  border-radius: 0px 0px 47% 50%;
  background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
}

.mobile {
  position: absolute;
  border: 10px solid white;
  width: 190px;
  bottom: 45%;
  left: 58%;
  background-color: hsl(270, 20%, 96%);
  border-radius: 23px;
  box-shadow: 0px 9px 16px 11px rgba(0, 0, 0, 0.1);
}

.mobile .header {
  background-image: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  height: 10vh;
  border-radius: 12px 12px 7px 7px;
}

.mobile .header .header-data {
  padding: 20px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile .notch {
  background-color: white;
  height: 3vh;
  position: absolute;
  width: 6.2vw;
  left: 43px;
  border-radius: 0px 0px 10px 10px;
}

.header-data img {
  width: 2vw;
  border-radius: 50%;
  border: 1px solid white;
}

.profile-data {
  gap: 7px;
  display: flex;
  align-items: center;
}

.chats {
  margin: 10px;
  font-size: 7px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.received {
  width: 70%;
  border-radius: 5px 5px 5px 2px;
  padding: 5px;
  background-color: hsla(276, 55%, 52%, 0.1);
  color: hsl(276, 55%, 52%);
}

.sent {
  width: 70%;
  border-radius: 5px 5px 2px 5px;
  padding: 4px;
  background-color: white;
  color: hsl(271, 15%, 43%);
  position: relative;
  left: 45px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.images {
  display: flex;
  gap: 5px;
  position: relative;
  left: 15%;
}

.images img {
  width: 3vw;
  border-radius: 8px;
}

.quote {
  width: 70%;
  border-radius: 5px 5px 5px 2px;
  padding: 7px 15px 7px 7px;
  background-image: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: space-between;
  color: hsl(206, 6%, 79%, 0.8);
}

.price {
  font-weight: 700;
  color: white;
  font-size: 10px;
}

.inputBox {
  background-color: white;
  padding: 8px;
  border-radius: 15px;
  color: hsl(206, 6%, 79%);
}


.background-right{
  height: 75vh;
    width: 75%;
    position: relative;
    right: -60%;
    bottom: 26%;
    transform: rotate(180deg);
    border-radius: 0px 0px 47% 50%;
    background-image: linear-gradient(hsla(293, 100%, 63%,0.02), hsla(264, 100%, 61%,0.02));
}